#*#
*.a
*.d
*.gcno
*.gcda
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.obj
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.pyc
*.retry
*.so
*.suo
**/*.sym
*~
*,cover
.#*
.*.cmd
.*.swp
.coverage
.deps
.dirstamp
.libs
.tmp_versions
.vagrant
/Makefile
/Makefile.in
/aclocal.m4
/ovs-distfiles
/datapath-distfiles
/all-distfiles
/all-gitfiles
/autom4te.cache
/build-arch-stamp
/build-indep-stamp
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure-stamp
/depcomp
/distfiles
/dist-docs
/flake8-check
/docs-check
/install-sh
/libtool
/manpage-check
/missing
/missing-distfiles
/package.m4
/stamp-h1
/_build-gcc
/_build-clang
Module.symvers
TAGS
cscope.*
tags
_debian
odp-netlink.h
odp-netlink-macros.h
OvsDpInterface.h
/.vagrant/
testsuite.tmp.orig
/rpm/
/openvswitch*.tar.gz
/tests/lcov/
/Documentation/_build
/.venv
/cxx-check
=======
*.pem
/Makefile
/Makefile.in
/atconfig
/atlocal
/idltest.c
/idltest.h
/idltest.ovsidl
/ovstest
/test-dpdkr
/ovs-pki.log
/pki/
/system-dpdk-testsuite
/system-dpdk-testsuite.dir/
/system-dpdk-testsuite.log
/system-kmod-testsuite
/system-kmod-testsuite.dir/
/system-kmod-testsuite.log
/system-userspace-testsuite
/system-userspace-testsuite.dir/
/system-userspace-testsuite.log
/system-offloads-testsuite
/system-offloads-testsuite.dir/
/system-offloads-testsuite.log
/test-aes128
/test-atomic
/test-bundle
/test-byte-order
/test-classifier
/test-csum
/test-flows
/test-hash
/test-heap
/test-hindex
/test-hmap
/test-json
/test-jsonrpc
/test-list
/test-lockfile
/test-multipath
/test-netflow
/test-odp
/test-ofpbuf
/test-ovsdb
/test-packets
/test-raft
/test-random
/test-reconnect
/test-rstp
/test-sflow
/test-sha1
/test-skiplist
/test-stp
/test-stream
/test-strtok_r
/test-timeval
/test-type-props
/test-unix-socket
/test-util
/test-uuid
/test-vconn
/testsuite
/testsuite.dir/
/testsuite.log
/test-lib
/testsuite.tmp.orig
/valgrind.[0-9]*
/valgrind/
